<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <appSettings>
    <add key="webpages:Version" value="2.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="PreserveLoginUrl" value="true" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="ConContext" connectionString="Data Source=192.168.0.151;Initial Catalog=icdsdbassam; Persist Security Info=True;uid=sa;password=webcom" providerName="System.Data.SqlClient" />
    <add name="Con" connectionString="metadata=res://*/Models.conn.csdl|res://*/Models.conn.ssdl|res://*/Models.conn.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=192.168.0.151;initial catalog=icdsdbassam;user id=sa;password=webcom;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
    </compilation>
    <pages>
      <namespaces>
        <add namespace="System.Web.Helpers" />
        <add namespace="System.Web.Mvc" />
        <add namespace="System.Web.Mvc.Ajax" />
        <add namespace="System.Web.Mvc.Html" />
        <add namespace="System.Web.Routing" />
        <add namespace="System.Web.WebPages" />
      </namespaces>
    </pages>
    <globalization uiCulture="en-IN" culture="en-IN" />
    <!--<membership>
      <providers>
        <clear/>
        <add name="AspNetSqlMembershipProvider" type="System.Web.Security.SqlMembershipProvider" connectionStringName="ConContext" passwordFormat="Clear" enablePasswordRetrieval="true" enablePasswordReset="true" requiresQuestionAndAnswer="false" requiresUniqueEmail="false" maxInvalidPasswordAttempts="100" minRequiredPasswordLength="1" minRequiredNonalphanumericCharacters="0" passwordAttemptWindow="10" applicationName="/"/>
      </providers>
    </membership>-->
    <profile enabled="true">
      <providers>
        <clear />
        <add name="MyProfileProvider" type="System.Web.Profile.SqlProfileProvider" connectionStringName="Con" applicationName="/" />
      </providers>
      <properties>
        <add name="Profile_ID" type="System.Int32" />
        <add name="User_Name" type="System.String" />
        <add name="User_ID" type="System.Int32" />
        <add name="Role_ID" type="System.Int32" />
        <add name="Profile_Email" type="System.String" />
        <add name="Profile_Name" type="System.String" />
        <add name="Div_ID" type="System.Int32" />
        <add name="Dis_ID" type="System.Int32" />
        <add name="Proj_ID" type="System.Int32" />
        <add name="Sec_ID" type="System.Int32" />
        <add name="Ang_ID" type="System.Int32" />
        <add name="Lang" type="System.String" />
        <add name="TrainingCenter_ID" type="System.Int32" />
        <add name="OfficeType_ID" type="System.Int32" />
        <add name="Designation_ID" type="System.Int32" />
        <add name="PhotoGraphID" type="System.Int64" />
        <add name="Branch_ID" type="System.Int64" />
        <add name="Plant_ID" type="System.Int32" />
      </properties>
    </profile>
  </system.web>
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true" />
    <handlers>
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" />
      <remove name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" />
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_32bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness32" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-ISAPI-4.0_64bit" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" modules="IsapiModule" scriptProcessor="%windir%\Microsoft.NET\Framework64\v4.0.30319\aspnet_isapi.dll" preCondition="classicMode,runtimeVersionv4.0,bitness64" responseBufferLimit="0" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="GET,HEAD,POST,DEBUG,PUT,DELETE,PATCH,OPTIONS" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
  </system.webServer>
</configuration>